
/* BODY ************************************************************************************************************/

/* Estilización de todo el documento*/
*{
   margin: 0px;                                                  /* Le quita el margen a todos los elementos*/
   padding: 0px;                                                 /* Le quita el padding a todos los elementos*/
}

/* Estilizacion del fix para arreglar el espaciado */
.clearfix{
    float: none;                                                 /*Hace que no flote en ningun lado */
    clear: both;                                                 /*Limpia los flotados, es decir que manda para abajo los div */
} 

/* Estilizacion de id global */
#global{
    width: 65% ;                                                  /* Largo del 65% de la página  */
    margin: 0px auto;                                            /* Nos permite centrar la sección */
    margin-top: 30px;                                            /* Margen superior paraa separar 30px */
    padding: 30px;                                               /* Margen interior de seccion de 20 px */
    background-color: aliceblue;                               /* Fondo blanco */  
    box-shadow: 0px 0px 5px #ccc;                              /* Sombra sobre el bloque(Izq, Abajo, Difuminado, Color */ 
}
/* HEADER ************************************************************************************************************/

/* Estilizacion de id  logo */
#logo{
    font-family:fantasy ;                                        /* Le da un estilo a la tipografía de fantasy*/
    font-size: 26px;                                             /* Tamaño de letra de 30px*/
    letter-spacing: 4px;                                         /* Espacio entre letras de 4px */
    line-height: 80px;                                           /* Crea un espaciado entre las letrasde 80 px */
    color: whitesmoke;                                         /* Color de fondo blanco*/
    text-align: center;                                          /* Se Centra el texto dentro del div */
    width: 300px;                                                /* Tamaño del width del div en porcentaje de la sección que se encuentra*/
    height: 80px;                                                /* Se da una altura del div de 80px */
    float: left;                                                 /* Nos permite hacer que el elemento se coloque a la izqu */
    margin-bottom:20px;                                          /* Crea un margen del elemento de 20px hacia abajo para levantarlo un poco */
    text-transform: uppercase;                                   /*  Convierte todo a mayusculas*/
}
 
/* Estilizacion de la barra*/
#menu{
    font-family: Arial, Helvetica, sans-serif;                   /* Le da un estilo a la tipografía de Arial*/
    width: 100%;                                                 /* Tamaño del 100% de ancho del elemento */
    text-transform: uppercase;                                   /*  Convierte todo a mayusculas*/
    margin-bottom: 20px;                                         /* Ayuda a dar un margen blanco de 20 px para separar */
}
/* Estilizacion de lista con elemetnos y efecto hover*/
#menu ul{                                                         /* Una forma de acceder a etiquetas de una id o clase*/
    line-height: 46px;                                            /* Crea un espaciado entre las letras de 46px */
    list-style: none;                                             /* Quita el estilo de lista en todos los elementos*/

    & li{                                                         /* Otra forma de acceder a etiquetas de una id o clase*/
        height: 46px;                                             /* Da una altura de 46px */
        display: inline-block;                                    /* Muestra la lista de forma lateral*/
        transition: all 500ms;                                    /* Le da una transición a todos los objetos de la lista de 300 ms*/
    }
}
/* Estilizacion de ref  */
#menu a{                                                          /* Nueva forma de acceder a etiquetas de una id o clase*/
    display: block;                                               /* Bloquea el display, , sino no se puede poner margen*/
    color:white;                                                /* Cambia el color del texto*/
    text-decoration: none;                                        /* Quita las decoraciones del texto, como el subrayado*/
    padding: 0px 30px 0px;                                        /* Da un padding left y right de 30px*/
    text-align: center;                                           /* Alinea el texto al centro*/                
}
/* MAIN ************************************************************************************************************/

/* Estilizacion general */
#posts{
    width: 72%;                                                 /* Tamaño del 72% de ancho del elemento */
    float:left;                                                 /* Se pone a flotar a la izquierda la sección post*/
    font-family: Arial, Helvetica, sans-serif;                  /* Se pone un estilo de font*/
}

.article {
    padding-left: 10px;
    & h2{                                                       /* Nueva forma de acceder a etiquetas de una id o clase*/
        font-size: 30px;                                        /* Se pone un tamalo de letra de 20px*/
        color: #333;                                          /* Se pone color a letra*/
    }
    & span{                                                     /* Nueva forma de acceder a etiquetas de una id o clase*/
        display: block;                                         /* Se bloquea el display, sino no se puede poner margen*/
        color: rgb(156, 143, 143);                            /* Se pone color a letra*/
        margin: 5px 0px 10px;                                   /* Se crea un margen superior de 5px e inferior de 10px*/ 
    }
    & p{                                                        /* Nueva forma de acceder a etiquetas de una id o clase*/
        margin:10px 0px 20px;                                   /* Se crea un margen superior de 30px e inferior de 20px*/ 
        line-height: 20px;                                      /* Crea un espaciado entre las letras*/
        text-align: justify;                                    /* Crea texto justificado*/
    }
}

/* Estilizacion de boton leer mas */
.botonMore{
    padding: 10px;                                              /* Crea un padding de 10px*/
    color: white;                                             /* Cambia de color la letra a blanco*/
    font-size: 14px;                                            /* Cambia el tamaño del fondo*/
    text-align: center;                                         /* Alinea al centro el texto*/
    text-decoration: none;                                      /* Quita la decoración y subrayado*/
    display: block;                                             /* Hace que se comporte como bloque*/
    width: 90px;                                                /* Se define anchura de 90px*/
    margin-top:10px;                                             /* Se define un margen de separación de 8px*/
    margin-bottom:30px;                                         /* Se define un margen de separación de 8px*/
    float: left;                                                /* Se indica que el elemento flote a la izq*/

}

/* Estilizacion del sidebar */
#sidebar{                                                       /* Estiliza la barra lateral completa, con login y mini articulo*/
    padding: 20px;                                              /* Hace un margen interno de 20px*/
    font-family: Arial, Helvetica, sans-serif;                  /* Da un estilo de font de Arial*/
    width: 22%;                                                 /* Da una anchura del 22% del div blanco*/
    float: right;                                               /* Lo colocamos a la derecha*/
    & span{                                                     /* Se va al span del sidebar*/
        background-color: aliceblue;                          /* Da un fondo de color*/
        padding: 5px;                                           /* Crea un padding de 5px*/
    }
    & h4{                                                       /* Se va al h4 del sidebar*/
        margin:50px 0px 20px;                                   /* Da un margen de 50 de top y 20 de inf*/
        text-align: center;                                     /* Alinea el texto del h4 al centro*/
        line-height: 10px;                                      /* Da un espacioado de letra de 10px*/
        color: #333;                                          /* da un color al h4*/
        background-image: url('../img/lines.png');              /* Le pone una imagen de fondo en seccion del h4, las rayas*/
    }
    & img{                                                      /* Se va a etiqueta img del sidebar*/
        width: 100%;                                            /* Da un tamaño del div del sidebar del 100%*/
    }
    & p{                                                        /* Accede al parrafo del sidebar*/
        font-size: 15px;                                        /* Tamaño de letra de 15 px*/
        text-align: justify;                                    /* Alinea el texto a justify*/
        margin: 15px 15px 30px;                                 /* Crea un margen*/
        color: gray;                                          /* Pone un color gris al texto*/
    }
}

/* Estilizacion de login */
form{                                                           /* Accede al form*/
    padding: 0px 20px 0px;                                      /* Estilo para el form general*/
}
form label{                                                     /* Estilo para los labels*/
    text-align: left;                                           /* Alinea texto a la izq*/
    display: block;                                             /* Hace que funcione como blocque*/
}

form input[type = "text"],                                      /* Inputs de texto, pasword y mail*/
form input[type = "password"],
form input[type = "email"],
form input[type = "number"],
select{
    padding: 5px;                                               /* Se da un padding de 5px*/
    border-radius: 2px;                                         /* Se crea un borde con radio de 2px*/
    border:1px solid #ccc;                                    /* Se crea un borde de 1px solido de color*/
    width: 100%;                                                /* Se da el 100 de anchura*/
    margin: 5px 0px 15px;                                       /* Se crea un margen*/
    box-shadow: 0px 0px 2px gray;                             /* Se da una sombra*/
}



form input[type="submit"]{                                       /* Input submit*/
    background-color:gray;                                     /* Se crea fondo de color gris*/
    font-size: 14px;                                             /* Se da un tamaño de letra de 14px*/
    color:white;                                               /* Se pinta texto de blanco*/
    border: 1px solid #ccc;                                    /* Crea un borde*/
    border-radius: 6px;                                          /* Hace que el borde sea redondo*/
    padding: 5px;                                                /* le da un padding*/

} 
form input[type="submit"]:hover{                                 /* Hace un hover en el submit*/
    cursor:pointer;                                              /* Cambia cursos a pointer*/
} 

/* PIE DE PAGINA *******************************************************************************************************/
footer{
    font-family:Helvetica, sans-serif;                           /* Da un estilo de font de Arial*/
    color:white;                                               /* Se pinta texto de blanco*/
    width: 65% ;                                                 /* Largo del 65% de la página  */
    height: 47px ;                                               /* Alto del 47px fuera de la pag*/
    background-color: rgba(51,51,51, 0.70);                    /* Lo hace transparente */
    margin: 0px auto;                                            /* Margen de tamaño auto */
    padding: 0px 20px 0px;                                       /* padding a los lados de 20 */
    margin-top: 50px;                                            /* Margin top de 50 */
    line-height: 47px;                                           /* Tamaño de espaciado de altura de 47px */   
}

/* SLIDER       *******************************************************************************************************/
.bx-wraper, .bx-viewport{
    height: 250px !important;
}

/* THEMES       *******************************************************************************************************/
#theme-Selector{ 
    position: fixed;                                             /* Posicion no se modifica aunque se haga scroll*/
    top: 40%;                                                    /* Se coloca al 40% del top*/
    background: rgba(51,51,51, 0.60);                          /* Se da color transparente*/
    width: 50px;                                                 /* Se dan las dimensiaones*/
    height: 100px;                                               /* Se dan las dimensiaones*/
    border-top-right-radius: 15px;                               /* Borde redondo arriba a la derecha*/
    border-bottom-right-radius: 15px;                            /* Borde redondo abajo a la derecha*/

    & #to-Green, #to-Red, #to-Blue{
        width: 25px;                                             /* Se dan las dimensiaones*/
        height: 25px;                                            /* Se dan las dimensiaones*/
        border:1px solid white;                                /* Crea un borde blanco*/
        border-radius: 40px;                                     /* Hace circulo el tema*/
        display: block;                                          /* Bloquea el display para poder moverlo*/
        margin:0px auto;                                         /* Nos permite centrar el div*/
        margin-top: 5px;                                         /* Lo espacia 5px arriba*/
        margin-bottom: 5px;                                      /* Lo espacia 5px abajo*/
        cursor: pointer;                                          /* Hace un pinter al cursor*/
    }

    #to-Green{
        background-color: #235e3d;                             /* Color de fondo*/
    }
    #to-Red{
        background-color: #a91b30;                             /* Color de fondo*/
    }
    #to-Blue{
        background-color: #0f3c73;                             /* Color de fondo*/
    }
} 

/* SCROLL       *******************************************************************************************************/
.scroll{
    color:white;                                               /* Letra color blanca*/
    text-decoration: none;                                       /* Quitar decoración*/
    display: block;                                              /* Se bloquea para poder mover*/
    float: right;                                                /* Se coloca a la derecha*/
}

/* ACORRDEON       *******************************************************************************************************/

#box{
    width: 68%;                                                  /* Anchura de 68%*/
    float: left;                                                 /* Se coloca a la izq*/
    margin-top: 20px;                                            /* Margen superior*/

    & h2{                                                       /* Nueva forma de acceder a etiquetas de una id o clase*/
        font-size: 30px;                                        /* Se pone un tamalo de letra de 20px*/
        color: #333;                                          /* Se pone color a letra*/
        font-family:Helvetica, sans-serif;                      /* Da un estilo de font de Arial*/
        margin-bottom: 20px;                                    /* Margen inferior*/
    }
}    

/* RELOJ       ***********************************************************************************************************/

#reloj{
    width: 62%;                                                  /* Anchura de 62%*/
    float: left;                                                 /* Se coloca a la izq*/
    margin-top: 20px;                                            /* Margen superior*/
    font-size: 30px;                                             /* Tamaño de letra de 30px*/
    font-weight: bold;                                           /* Da un estilo de negritas*/                        
    font-family: Arial, Helvetica, sans-serif;                   /* Da un etilo de letra*/
    color: #333;                                               /* Coolor de letra*/
    border: 2px dashed  #a4a2a2;                               /* Borde*/
    border-radius: 10px;                                         /* Da un borde redondo*/
    text-align: center;                                          /* Alinea el texto al centro*/
    padding: 20px;                                               /* Padding/contorno interno de 20 px*/
}

/* FORMULARIO       *******************************************************************************************************/

#contact{
    width: 50%;                                                  /* Anchura de 60%*/
    margin-top: 5px;                                            /* Margen superior*/
    font-family: Arial, Helvetica, sans-serif;                   /* Da un etilo de letra*/
    display: block;                                              /* Se bloquea para poder mover*/

    & label{
        width: 100%;                                             /* Anchura de 60%*/
    }
}

.form-error{
    display: block;
    float:right;
    font-size: 13px;
    color: #b82828;
    margin-top: 10px;
}